/* Base styles: do not assume dark or light, handled by media queries */
html, body {
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #282c34;
    color: white;
  }

  .successNotification {
    color: white;
    background: rgb(0, 95, 0);
  }

  .errorNotification {
    color: white;
    background: rgb(163, 1, 1);
  }

  .person-delete-btn:hover {
    background-color: rgb(163, 1, 1);
    color: white;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  html, body {
    background-color: #ffffff;
    color: #213547;
  }

  .successNotification {
    color: white;
    background: rgb(0, 128, 0);
  }

  .errorNotification {
    color: white;
    background: rgb(255, 0, 0);
  }

  .person-delete-btn:hover {
    background-color: rgb(255, 0, 0);
    color: white;
  }
}
