body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}

h1 {
  color: green;
  font-style: oblique;
}

.note {
  color: white;
  padding-top: 5px;
  font-size: 15px;
} 

.note button {
  margin-left: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}